// --------------------------------
// Stater - the state setting mixin
// --------------------------------
// @param $state [String or List]
//   Name(s) of pseudo-class(es) or state class(es) without leading ':' or '.'
//   which should be applied to the current selector or $parent-sels
//
// @param $parent-sels [String or List] optional
//   Name(s) of the parent-selector(s) to which the $state should be applied.
// --------------------------------
@mixin state($states, $parent-sels: undefined) {
  // Define final-selector
  $final-sel: '';

  // Loop over each parent-selector
  @for $i1 from 1 through length($parent-sels) {
    $parent-sel: nth($parent-sels, $i1);

    // Loop over each state
    @for $i2 from 1 through length($states) {
      $state: nth($states, $i2);
      // Check if state is a pseudo class or not and add ':' or '.' accordingly
      $state: if(is-pseudo-class($state), ':' + $state, '.' + $state);

      // Loop over each selector
      @for $i3 from 1 through length(&) {
        $state-sel: '';
        $sel: to-str(nth(&, $i3));

        // If there are no parent-selectors specified,
        // state should be applied to selector directly
        @if $parent-sel == undefined {

          // If selector contains a pseudo-element,
          // state should be inserted before pseudo-element
          @if str-index($sel, '::') {
            $state-sel: str-insert($sel, $state, str-index($sel, '::'));
          } @else {
            $state-sel: $sel + $state;
          }
        }

        // If parent-selector is in selector as stand alone,
        // state should be inserted after parent-selector
        @else if str-index($sel, $parent-sel + ' ') {
          $state-sel: str-insert(
            $sel, $state,
            str-index($sel, $parent-sel + ' ') + str-length($parent-sel)
          );
        } @else if str-index($sel, $parent-sel + '.') {
          $state-sel: str-insert(
            $sel, $state,
            str-index($sel, $parent-sel + '.') + str-length($parent-sel)
          );
        }

        // If parent-selector is not in selector,
        // parent-selector plus state should be prepended to selector
        @else {
          $state-sel: $parent-sel + $state + ' ' + $sel;
        }

        // Add state selector to the end of final-selector
        $final-sel: $final-sel + $state-sel;

        // If selector is not the last selector in &,
        // add a comma to the end of final-selector
        @if $i3 < length(&) {
          $final-sel: $final-sel + ', ';
        }
      }

      // If state is not the last state in states,
      // add a comma to the end of final-selector
      @if $i2 < length($states) {
        $final-sel: $final-sel + ', ';
      }
    }

    // If parent-selector is not the last parent-selector in parent-selectors,
    // add a comma to the end of final-selector
    @if $i1 < length($parent-sels) {
      $final-sel: $final-sel + ', ';
    }
  }

  // Output final-selector with content at root
  @at-root #{$final-sel} {
    @content;
  }
}


// Check if state is a pseudo-class
// @link: https://goo.gl/BYKIHd
// --------------------------------
@function is-pseudo-class($state) {
  $pseudo-classes: (
    'active',
    'any',
    'any-link',
    'checked',
    'default',
    'dir',
    'disabled',
    'empty',
    'enabled',
    'first',
    'first-child',
    'first-of-type',
    'fullscreen',
    'focus',
    'focus-within',
    'hover',
    'indeterminate',
    'in-range',
    'invalid',
    'lang',
    'last-child',
    'last-of-type',
    'left',
    'link',
    'not',
    'nth-child',
    'nth-last-child',
    'nth-last-of-type',
    'nth-of-type',
    'only-child',
    'only-of-type',
    'optional',
    'out-of-range',
    'placeholder-shown',
    'read-only',
    'read-write',
    'required',
    'right',
    'root',
    'scope',
    'target',
    'valid',
    'visited'
  );

  // If this is a state with options, strip these before checking
  @if str-index($state, '(') {
    $state: str-slice($state, 0, str-index($state, '(') - 1);
  }

  @return index($pseudo-classes, $state);
}
